.input {
  background: white;
  border: 1px solid rgb(160, 158, 158);
  border-radius: 5px;
  width: 50px;
  line-height: 40px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Dla przeglądarek Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}
